<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
	<style>
		body {
			font-family:Verdana;
		}
		.blog-contenedor {
			border: 1px solid black;
			background-color:#dddddd;
			margin-bottom:5px;
		}
		.blog-rotulo {
			padding:10px 10px 0px 10px;
			font-size: 20px;
		}
		.blog-fecha {
			color: grey;
			padding:0px 10px;
			font-size: 14px;
		}
		.blog-contenido {
			padding:10px;
			color: black;
			font-size: 12px;
			text-align:justify;
		}
	</style>
  </head>

  <body>

    <header>
      {% include header.html %}
    </header>

    <nav>
      {% include nav.html %}
    </nav>

    <aside>
      {% include aside.html %}
    </aside>

    <section>
      {{content}}
    </section>

    <footer>
      {% include footer.html %}
    </footer>

  </body>

</html>
