<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
  </head>

  <body>

    
    <section>
      {{content}}
      -----
      {{page.title}}
      <ul>
        
      {% for page in site-post %}
      <li> hola
        <a href="{{site.baseurl}}{{page.url}}">{{page.tittle}}</a>
        {{page.date}}
        {{page.content}}
      </li>
      {% endfor %}
      
    </ul>

   

  </body>

</html>
