<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
 
  <head>
     <meta charset="utf-8">
     <title>{{page.title}}</title>
     <meta name="author" content="">
     <meta name="description" content="">
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <nav>
      {% include navblog.html %}
    </nav>
    <aside>
      {% include aside.html %}
    </aside>
    <section>
      {{content}}
    </section>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
